@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.signup-btn {
  @apply bg-white text-black text-sm font-thin px-16 py-1 rounded-full flex items-center w-72 h-8;
}

.primary-btn {
  @apply bg-blue-500 text-white text-sm font-thin px-16 py-1 rounded-full flex justify-center items-center w-72 h-8;
}

.span-text {
  @apply text-blue-500
}